    <img src="/img/Home.png">
    <a href="/users/register" id="ups">Sign up</a>
    <a href="/users/login" class="btn btn-lg btn-primary" id="st" type="button">Get Started</a>
    <style>
        	img{
		position: absolute;
		top: 55px;
		left: 0%;
		width: 1519px;
	}
                #ups{
            position:absolute;
            top:10%;
            right: 5%;
            color: #fff;
            text-decoration: none;
            font-size: 20px;

        }
        #st{
            position: absolute;
            bottom: 150px;
            right: 230px;
            font-size: 25px;
        }
    </style>
