{{!-- <!-- Delete the Event Details Of Transaction Family "Event_Managment_App" page -->

<center>
  <h3> Delete Event Details </h3>
  <img src="/images/index54.png" height="75px">
  <div class="row">
    <div class="col s6 offset-s3"
      style="background-color: rgb(240, 232, 232); opacity: 1.0; height: 300px; padding: 20px 20px; border: 1px solid; overflow: scroll; overflow-x: hidden; overflow-y: scroll;">
      <form autocomplete="off">
        <div class="formtext">
          <br>
          <label style="font-size:16px; float:left; color:black;">Enter Private Key</label>
          <input type="text" id="private3" required>
          <label style="font-size:16px; float:left; color:black;">Enter Event Date</label>
          <input type="date" id="date3" required>
          </div>
        <div>
          <br />
          <button type="submit" onclick="deleteData(event)" style="background-color: #0066ff"
            class="waves-effect waves-light btn-small">Delete</button>
          <br>
          <button type="reset" style="float: right; background-color: #ff0000"
            class="waves-effect waves-light btn-small">Clear</button>
        </div>
      </form>
    </div>
  </div>
</center> --}}