
 
    <a href="/login" class="btn btn-lg btn-primary" id="st" type="button">Get Started</a>
    <style>
            body {
        background-image: url(/images/home.png);
        background-size: cover;
        background-position: top;
    }
        	img{
              position: absolute;
              top: 55px;
              left: 0%;
              width: 100%;
            }
                #ups{
            position:absolute;
            top:10%;
            right: 5%;
            color: #fff;
            text-decoration: none;
            font-size: 20px;

            }
            #st{
                position: absolute;
                bottom: 150px;
                right: 230px;
                font-size: 25px;
            }
    </style>