<img src="/img/img.png" alt="banner_img">
	<div class="d-flex flex-row ">
		
			
				<a href="/ideas/category/Fruits" class="top btn a btn btn-outline-light mr-5" style=" border-radius: 30px; left: 5%; ">Fruits</a>
				<a href="/ideas/category/Vegetables" class="top btn b btn btn-outline-light mr-5" style=" border-radius: 30px; left: 20%; ">Vegetables</a>
				<a href="/ideas/category/Flowers" class="top btn c btn btn-outline-light mr-5" style=" border-radius: 30px; left: 35%; ">Flowers</a>
				<a href="/ideas/category/Leafy" class="top btn d btn btn-outline-light mr-5" style=" border-radius: 30px; left: 50%; ">Leafy</a>
				<a href="/ideas/category/Medicinal" class="top btn e btn btn-outline-light mr-5" style=" border-radius: 30px; left: 65%; ">Medicinal</a>
				<a href="/ideas/category/Cereals" class="top btn f btn btn-outline-light mr-5" style=" border-radius: 30px; left: 80%; ">Cereals</a>
			

		
	</div>
<a href="/ideas/add" class="bot btn btn-lg btn-primary">Add a product</a>	
<p class="first"><i>What is <span style="color: rgb(10, 119, 59);">Agro</span>sight...?</i></p>
<p class="second"><i>Agrosight is an online portal for farmers to buy and sell their products at a
    	better rate.Anyone can upload and sell their agricultural products usin our application.</i></p><br>
		<hr class="hr">
<p class="third"><i>Why <span style="color: rgb(10, 119, 59);">us</span>...?</i></p>
<p class="fourth"><i>Unlike other apps,agrosight is based on blockchain network which ensures  security
    	and a decentralized structure. The data entered in the app is temper proof and this reduces the
    	middlemen fraudulence.</i></p>
<br/>
<style>
		.first{
		position: absolute;
		top: 120%;
		left: 5%;
		font-size: 35px;
		font-weight:500;
	}
	.hr{
		position: absolute;
		top: 145%;	
	}
	.second{
		position: absolute;
		top: 130%;
		left: 5%;
		font-size: 25px;
		color: rgba(0, 0, 0, 0.479);
		width:75%
	}
		.third{
		position: absolute;
		top: 150%;
		right: 5%;
		font-size: 35px;
		font-weight:500;
	}
		.fourth{
		position: absolute;
		top: 160%;
		right: 5%;
		font-size: 25px;
		color: rgba(0, 0, 0, 0.479);
		width:75%;
		text-align: justify;
		padding-bottom: 10%;
	
	}

	img{
		position: absolute;
		top: 55px;
		left: 0%;
		width: 1519px;
	}
	.bot{
		position: absolute;
		top: 105%;
		left: 45%;
	}
	.top{
		position: absolute;
		top: 70px;
		
		width: 200px;
	}



</style>
	

			
